################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/CmdMessenger-3.6/CmdMessenger/CSharp/CommandMessenger/bin
/CmdMessenger-3.6/CmdMessenger/CSharp/CommandMessenger/obj/Debug
/CmdMessenger-3.6/CmdMessenger/CSharp/CommandMessenger/obj/Debug-Mobiflight Offline
/CmdMessenger-3.6/CmdMessenger/CSharp/CommandMessenger/obj/Release
/MobiFlightUnitTests/bin/Debug
/MobiFlightUnitTests/obj/Debug
/CmdMessenger-3.6/CmdMessenger/CSharp/CommandMessenger/obj/Release-Mobiflight (EN)/DesignTimeResolveAssemblyReferencesInput.cache
/AutoUpdater.NET/AutoUpdater.NET/trunk/AutoUpdater.NET/bin
/AutoUpdater.NET/AutoUpdater.NET/trunk/AutoUpdater.NET/obj/Debug
/AutoUpdater.NET/AutoUpdater.NET/trunk/AutoUpdater.NET/obj/Debug-Mobiflight Offline
/AutoUpdater.NET/AutoUpdater.NET/trunk/AutoUpdater.NET/obj/Release
/AutoUpdater.NET/AutoUpdater.NET/trunk/AutoUpdater.NET/obj/Release-Mobiflight (EN)/DesignTimeResolveAssemblyReferencesInput.cache
/obj
/Archive
/Support
/Website
/FirmwareSource/.vscode
/Release/*

/Tutorials
/TestResults
/Releases
/AutoUpdater.NET/AutoUpdater.NET/trunk/AutoUpdater.NET/obj

/MobiFlightUnitTests/bin
/MobiFlightUnitTests/obj

/CmdMessenger-3.6

/CmdMessenger/CommandMessenger/bin

/CmdMessenger/CommandMessenger/obj
/CmdMessenger/**/bin
/CmdMessenger/**/obj
/FirmwareSource/arduino-1.8.0
/VersionInfo/bin

/VersionInfo/obj
/FirmwareSource/arduino
/CmdMessenger/CmdMessenger/CSharp/CommandMessenger/bin
/CmdMessenger/CmdMessenger/CSharp/CommandMessenger/obj
/.vs
/Build/VersionInfo.exe
/CmdMessenger/CmdMessenger/Documentation
/CmdMessenger/CmdMessenger/Examples
/CmdMessenger/CmdMessenger/Tools
/CmdMessenger/CmdMessenger/README.markdown
/CmdMessenger/CmdMessenger/LICENSE
/CmdMessenger/CmdMessenger/keywords.txt
/CmdMessenger/CmdMessenger/CmdMessenger.h
/CmdMessenger/CmdMessenger/CmdMessenger.cpp
/ArcazeFsuipcConnector.suo
/FirmwareSource/tmp

/*.user
/firmware/mobiflight_uno_1.9.1.hex
/firmware/mobiflight_micro_1.9.1.hex
/firmware/mobiflight_mega_1.9.1.hex
/firmware/build

/FirmwareSource/__backup
/FirmwareSource/libraries/CmdMessenger/**/obj
/CmdMessenger/CmdMessenger/VisualBasic
/CmdMessenger_bak/CmdMessenger/CSharp
/FirmwareSource/libraries/CmdMessenger_
/packages/Autoupdater.NET.Official.1.5.8
/packages/Autoupdater.NET.Official.1.6.0
/packages/FSUIPCClientDLL.3.1.18
/MobiFlightUpdater/MobiFlight-Updater
/Build/MobiFlight-Updater.exe
/packages/Autoupdater.NET.Official.1.6.3/lib
/packages/FSUIPCClientDLL.3.1.22/lib/net40
/packages/FSUIPCClientDLL.3.1.22
/ReleaseMobiFlightSetup-7.10.0.19.exe
/ReleaseMobiFlightConnector-7.10.0.19.exe
/Build/WinRAR.exe
/Build/utils/innosetup/*
/Build/utils/wix/*
/packages/System.IO.Compression.ZipFile.4.3.0
/bin_
/Build/MobiFlight-Installer.exe
/Build/MobiFlightInstaller.exe
/MobiFlight-Installer/MobiFlight-Installer/bin
/MobiFlight-Installer/MobiFlight-Installer/obj
/MSFS2020-module/mobiflight-event-module/modules/events.user.txt
/FirmwareSource/libraries/CmdMessenger/4.2.0
/packages
