<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSUIPCClientDLL" version="3.3.3" targetFramework="net48" />
  <package id="HidSharp" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights" version="2.21.0" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.21.0" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.1518.46" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="protobuf-net" version="3.1.33" targetFramework="net48" />
  <package id="protobuf-net.Core" version="3.1.33" targetFramework="net48" />
  <package id="SharpDX" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.DirectInput" version="4.2.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="7.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.0" targetFramework="net48" />
  <package id="System.Management" version="7.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="XPlaneConnector" version="1.3.0" targetFramework="net48" />
</packages>