<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSUIPCClientDLL" version="3.1.25" targetFramework="net47" />
  <package id="Microsoft.ApplicationInsights" version="2.17.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.17.0" targetFramework="net452" />
  <package id="SharpDX" version="4.2.0" targetFramework="net452" />
  <package id="SharpDX.DirectInput" version="4.2.0" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net452" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" targetFramework="net452" />
  <package id="System.Memory" version="4.5.4" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net452" />
</packages>