<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Device.Net" version="4.2.1" targetFramework="net48" />
  <package id="FSUIPCClientDLL" version="3.3.16" targetFramework="net48" />
  <package id="GraphQL.Client" version="6.1.0" targetFramework="net48" />
  <package id="GraphQL.Client.Abstractions" version="6.1.0" targetFramework="net48" />
  <package id="GraphQL.Client.Abstractions.Websocket" version="6.1.0" targetFramework="net48" />
  <package id="GraphQL.Client.Serializer.Newtonsoft" version="6.1.0" targetFramework="net48" />
  <package id="GraphQL.Primitives" version="6.1.0" targetFramework="net48" />
  <package id="Hid.Net" version="4.2.1" targetFramework="net48" />
  <package id="HidSharp" version="2.6.4" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights" version="2.23.0" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.23.0" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.3650.58" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Newtonsoft.Json.Schema" version="4.0.1" targetFramework="net48" />
  <package id="protobuf-net" version="3.2.56" targetFramework="net48" />
  <package id="protobuf-net.Core" version="3.2.56" targetFramework="net48" />
  <package id="SharpDX" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.DirectInput" version="4.2.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.CodeDom" version="10.0.2" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="10.0.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.1" targetFramework="net48" />
  <package id="System.Management" version="10.0.2" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Net.WebSockets.Client.Managed" version="1.0.22" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Reactive" version="6.1.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="WebSocketSharp-netstandard" version="1.0.1" targetFramework="net48" />
  <package id="XPlaneConnector" version="1.3.0" targetFramework="net48" />
</packages>